/****** Colors ********/
$primary: rgb(25, 91, 255);
$secondary: red;
$success: rgb(70, 201, 58);
$warning: rgb(255, 186, 0);
$danger: rgb(255, 71, 87);
$black: rgb(30, 30, 30);
$white: rgb(244, 247, 248);

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  black: $black,
  white: $white,
);

/*************General **********/
$icon-heigh: 30px;
$icon-width: 30px;

/************** Epacer *********/
$padding: 8px;

/******* Border ************/
$border-radius: 10pt;

/************** Fonts *********/
$font-family: 'Poppins';

$font-size: 13px;
$font-size-md: $font-size + 5;
$font-size-lg: $font-size-md + 5;

$font-size-h6: $font-size + 2;
$font-size-h5: $font-size-h6 + 2;
$font-size-h4: $font-size-h5 + 2;
$font-size-h3: $font-size-h4 + 2;
$font-size-h2: $font-size-h3 + 2;
$font-size-h1: $font-size-h2 + 2;

/************** Shadows ************/
