/****** Colors ********/
$primary: rgb(26, 92, 255);
$secondary: red;
$success: rgb(23, 201, 100);
$warning: rgb(255, 186, 0);
$danger: rgb(242, 19, 93);
$black: rgb(36, 33, 69);
$white: white;

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  black: $black,
  white: $white,
);

/************** Epacer *********/
$padding: 8px;

/******* Border ************/
$border-radius: 10pt;

/************** Fonts *********/
$font-family: 'Poppins';

$font-size: 13px;
$font-size-md: $font-size + 5;
$font-size-lg: $font-size-md + 5;

$font-size-h6: $font-size + 2;
$font-size-h5: $font-size-h6 + 2;
$font-size-h4: $font-size-h5 + 2;
$font-size-h3: $font-size-h4 + 2;
$font-size-h2: $font-size-h3 + 2;
$font-size-h1: $font-size-h2 + 2;

/************** Shadows ************/
