/****** Colors ********/
$primary: rgb(26, 92, 255);
$secondary: red;
$success: rgb(23, 201, 100);
$warning: rgb(255, 186, 0);
$danger: rgb(242, 19, 93);
$black: rgb(36, 33, 69);
$white: white;

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  black: $black,
  white: $white,
);

/******* Border ************/
$border-radius: 10pt;

/************** Fonts *********/
$font-family: 'Poppins';
$font-size: 13px;
